.Navbar {
  height: 50px;
  background-color: rgb(32, 75, 216);
  display: flex;
  justify-content: center;
}
.NavContainer {
  width: 100%;
  max-width: 1024px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Navbar-logo {
  font-weight: 500;
}
.navbar-button {
  margin-left: 20px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  color: #003580;
}
